 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain colored"></i></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-css3-plain colored"></i>
      <p>I have worked with these design languages and some design libraries including <a href="https://getuikit.com/" target="_blank">UIKit</a> and <a href="https://semantic-ui.com/" target='_blank'>Semantic UI</a>!</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-jquery-plain-wordmark colored"></i>
      <p>These are just some of the languages I utilize consistently for work, school, and free time.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <i class="devicon-travis-plain-wordmark colored"></i>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-trello-plain-wordmark colored"></i>
      <p>Other tools include Jenkins, SonarQube, NPM, MySQL Workbench, SQL Server Management Studio, Oracle SQL Developer. </p>
    </div>
</div>
