<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="map" src="{{ "/assets/img/map.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> ESRI Topographical Map </h3>
    <ul>
      <lh><strong>Featured Skills</strong></lh>
      <li>Javascript</li>
      <li>HTML</li>
      <li>Web API Utilization</li>
    </ul>
    <p>Interactive topographical map utilizing the ARCGIS ESRI API.
      This was one of my first projects(albeit very simple) dealing with web based API's while still in my first year of school.</p>
    <a class="project-link" href="https://cclinard84.github.io/map.html" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/meter.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> OpenMTR </h3>
    <ul>
      <lh><strong>Featured Skills</strong></lh>
      <li>Project Management of an Agile Development Team</li>
      <li>Git and Github</li>
      <li>C#/.Net</li>
      <li>OpenCV Image Recognition</li>
      <li>HTML, CSS, Markdown</li>
      <li>TravisCI</li>
      <li>Better Code Hub</li>
      <li>Docker</li>
    </ul>
    <p>OpenMTR is part of a capstone course at <a href="https://www.pstcc.edu">PSTCC</a> sponsored by <a href="https://www.kub.org" target="_blank">Knoxville Utilities Board</a>. This project is designed to allow the group to implement industry development practices.</p>
    <a class="project-link" href="https://openmtr.github.io" target='_blank'>Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="studiBuddy" src="{{ "/assets/img/studiBuddy.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> StudiBuddy </h3>
    <ul>
      <lh><strong>Featured Skills</strong></lh>
      <li><a href="https://semantic-ui.com/" target='_blank'>Semantic UI</a></li>
      <li><a href="https://fullcalendar.io/" target='_blank'>FullCalendar</a></li>
      <li><a href="https://www.npmjs.com/" target='_blank'>NPM</a></li>
      <li>HTML</li>
      <li>CSS</li>
      <li>PHP</li>
      <li>JQuery</li>
      <li>AJAX</li>
      <li>MySQL</li>
      <li>Javascript</li>
    </ul>
    <p>This was a solo full stack project that allowed a user to create unique login credentials and join or create a study group.
      Users were able to find a study group in a calendar entry based on class and subsequently view the location, number of members, and other pertinent details.
      A user was also able to create a new study group which created a calendar entry that allowed other users to join the group.</p>
    <a class="project-link" href="https://github.com/cclinard84/studiBuddySemantic" target="_blank">Repository</a>
    </div>
    </div>
